.covid19_1{
	height: 383px;
	width: 500;
	
    
}


.banner{
	width: 1187px;
	height: 390px;


}

.slider{
	width: 95%;
	margin:auto;
	overflow: hidden;
}

.slider ul{
	display: flex;
	padding: 0;
	
	animation: cambio 15s infinite;
	/*animation-direction: alternate;*/
	animation-duration: ease-in;

}

.slider li{
	list-style: none;
	width: 100%;
}



@keyframes cambio{
	0%{
		margin-left: 0;
	}
	20%{
		margin-left: 0;
	}

	25%{
		margin-left: -200%;
	}
	45%{
		margin-left: -200%;
	}

	/*50%{
		margin-left: -200%;
	}
	70%{
		margin-left: -200%;
	}*/

}